.naquan-col-0 {
    display: none;
}
.naquan-col-1 {
    flex: 0 0 4.166667%;
    max-width: 4.166667%;
}
.naquan-col-2 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.naquan-col-3 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.naquan-col-4 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.naquan-col-5 {
    flex: 0 0 20.833333%;
    max-width: 20.833333%;
}
.naquan-col-6 {
    flex: 0 0 25%;
    max-width: 25%;
}
.naquan-col-7 {
    flex: 0 0 29.166667%;
    max-width: 29.166667%;
}
.naquan-col-8 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.naquan-col-9 {
    flex: 0 0 37.5%;
    max-width: 37.5%;
}
.naquan-col-10 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.naquan-col-11 {
    flex: 0 0 45.833333%;
    max-width: 45.833333%;
}
.naquan-col-12 {
    flex: 0 0 50%;
    max-width: 50%;
}
.naquan-col-13 {
    flex: 0 0 54.166667%;
    max-width: 54.166667%;
}
.naquan-col-14 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.naquan-col-15 {
    flex: 0 0 62.5%;
    max-width: 62.5%;
}
.naquan-col-16 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.naquan-col-17 {
    flex: 0 0 70.833333%;
    max-width: 70.833333%;
}
.naquan-col-18 {
    flex: 0 0 75%;
    max-width: 75%;
}
.naquan-col-19 {
    flex: 0 0 79.166667%;
    max-width: 79.166667%;
}
.naquan-col-20 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.naquan-col-21 {
    flex: 0 0 87.5%;
    max-width: 87.5%;
}
.naquan-col-22 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.naquan-col-23 {
    flex: 0 0 95.833333%;
    max-width: 95.833333%;
}
.naquan-col-24 {
    flex: 0 0 100%;
    max-width: 100%;
}
